<mat-toolbar color="primary">
  <button mat-icon-button style="padding: 0px;">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <img src="https://www.snomed.org/SNOMED/media/SNOMED/other/brand-mark.png" height="60px">
  <span id="title">SNOMED CT Implementation Roadmap Generator</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" [matMenuTriggerFor]="actionsMenu">Actions</button>
  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item (click)="export()">Save Roadmap</button>
    <button mat-menu-item (click)="fileInput.click()">Load Roadmap</button>
    <button mat-menu-item (click)="clear()">Clear Roadmap</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="saveToWord()">Export to Word</button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openTimelineDialog()">View Timeline</button>
    <button mat-menu-item (click)="openGanttDialog()">View Gantt Chart</button>
  </mat-menu> <button mat-raised-button color="accent" [matMenuTriggerFor]="examplesMenu">Examples</button>
  <input hidden (change)="uploadFile($event)" #fileInput type="file" id="file">
  <mat-menu #examplesMenu="matMenu">
    <button mat-menu-item (click)="loadJsonExample('example1.json')">Snomedland: Roadmap oriented to clinical benefit</button>
    <!-- <button mat-menu-item (click)="loadJsonExample('example2.json')">Republic of SNOMED: Roadmap oriented to interoperability</button> -->
  </mat-menu>
  <a href="https://github.com/alopezo/coding-demo-template-ng" target="_blank" mat-raised-button color="accent"><mat-icon>info</mat-icon></a>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #sidenav [mode]="'side'" [opened]="true" class="rmsidenav">
    <h2>Select components</h2>
      <mat-form-field class="example-form-field" appearance="fill" class="selectorsControl">
        <mat-label>Country name</mat-label>
        <input matInput type="text" [(ngModel)]="country" name="country" (ngModelChange)="nameChanged()">
        <button *ngIf="country" matSuffix mat-icon-button aria-label="Clear" (click)="country=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Background</mat-label>
        <mat-select [(ngModel)]="selectedBackground" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Background', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let background of backgrounds" [value]="background" (onSelectionChange)="change('Background', $event)">
            {{background.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openBackgroundsEditor()" [disabled]="!selectedBackground">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Vision</mat-label>
        <mat-select [(ngModel)]="selectedVisions" [compareWith]="compareOptions" name="selectedVisions" multiple>
          <mat-option *ngFor="let vision of visions" [value]="vision" (onSelectionChange)="changeVision()">
            {{vision.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openVisionEditor()" [disabled]="!selectedVisions.length">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Current eHealth landscape</mat-label>
        <mat-select [(ngModel)]="selectedCurrentState" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Current-state', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let currentStateSource of currentStates" [value]="currentStateSource" (onSelectionChange)="change('Current-state', $event)">
            {{currentStateSource.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openCurrentStateEditor()" [disabled]="!selectedCurrentState">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Goals</mat-label>
        <mat-select [(ngModel)]="selectedGoals" [compareWith]="compareOptions" name="selectedGoals" multiple>
          <mat-option *ngFor="let goal of goals" [value]="goal" (onSelectionChange)="changeGoals()">
            {{goal.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openGoalsEditor()" [disabled]="!selectedGoals.length">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Clinical focus</mat-label>
        <mat-select [(ngModel)]="selectedClinicalFocus" [compareWith]="compareOptions" name="selectedClinicalFocus" multiple>
          <mat-option *ngFor="let focus of clinicalFocus" [value]="focus" (onSelectionChange)="changeClinicalFocus()">
            {{focus.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openFocusEditor()" [disabled]="!selectedClinicalFocus.length">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Roadmap steps</mat-label>
        <mat-select [(ngModel)]="selectedSteps" name="selectedSteps" [compareWith]="compareOptionsSteps" multiple>
          <mat-optgroup *ngFor="let group of steps" [label]="group.group">
            <mat-option *ngFor="let step of group.options" [value]="{ group: group.group, step: step, date: '' }" (onSelectionChange)="changeSteps()">
              {{step.opSelector}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openStepsDialog()" [disabled]="selectedSteps.length == 0">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Implementation projects</mat-label>
        <mat-select [(ngModel)]="selectedProject" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Implementation-projects', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let project of projects" [value]="project" (onSelectionChange)="change('Implementation-projects', $event)">
            {{project.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openProjectsEditor()" [disabled]="!selectedProject">
        <mat-icon>edit</mat-icon>
      </button>
      <mat-form-field appearance="fill" class="selectorsControl">
        <mat-label>Closing remarks</mat-label>
        <mat-select [(ngModel)]="selectedClosing" [compareWith]="compareOptions">
          <mat-option value="" (onSelectionChange)="change('Closing-remarks', $event)">
            Not applicable
          </mat-option>
          <mat-option *ngFor="let closing of closings" [value]="closing" (onSelectionChange)="change('Closing-remarks', $event)">
            {{closing.opSelector}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="openClosingEditor()" [disabled]="!selectedClosing">
        <mat-icon>edit</mat-icon>
      </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="nav-content">
      <div [innerHTML]="roadmap | safe: 'html'" id="roadmap-preview"></div>
      <div *ngIf="selectedSteps.length > 0">
        <h2>Roadmap planning</h2>
        <h3>Gantt chart</h3>
        <app-gantt-chart [roadmapStart]="roadmapStart" [roadmapEnd]="roadmapEnd" [selectedSteps]="selectedSteps"></app-gantt-chart>
        <br><br>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>