.example-spacer {
    flex: 1 1 auto;
  }

button {
    margin-left: 15px;
}

a {
    margin-left: 15px;
}

#title {
    margin-left: 15px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

mat-grid-list {
    max-height: 90%;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
    top: 5px;
    margin-left: 15px;
    padding-right: 35px;
    max-height: 90%;
    overflow-y: scroll;
}

.word-action {
    position: absolute;
    right:    50px;
    bottom:   0px;
}

.timeline-action {
    position: absolute;
    right:    200px;
    bottom:   0px;
}

.gantt-action {
    position: absolute;
    right:    320px;
    bottom:   0px;
}

.export-action {
    position: absolute;
    right:    420px;
    bottom:   0px;
}

.import-action {
    position: absolute;
    right:    520px;
    bottom:   0px;
}

.clear-action {
    position: absolute;
    right:    620px;
    bottom:   0px;
}

.stepsFormControl {
    width: 40%; 
    margin: 10px;
}

.selectorsControl {
    width: 80%;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

.examplesMenu {
    width: 600px;
}