<mat-toolbar color="primary">
  <img src="https://www.snomed.org/SNOMED/media/SNOMED/other/brand-mark.png" height="60px">
  <span id="title">SNOMED CT Implementation Roadmap Generator</span>
  <span class="example-spacer"></span>
  
  <a href="https://github.com/alopezo/coding-demo-template-ng" target="_blank" mat-raised-button color="accent"><mat-icon>info</mat-icon></a>

</mat-toolbar>
<mat-grid-list cols="4" rowHeight="100%">
  <mat-grid-tile colspan="1">
    <div class="text-inside-grid" style="width: 100%;">
      <h2>Select components</h2>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Vision</mat-label>
          <mat-select>
            <mat-option value="Not applicable" (onSelectionChange)="change('Vision', $event)">
              Not applicable
            </mat-option>
            <mat-option *ngFor="let visionSource of visionSources" [value]="visionSource.text" (onSelectionChange)="change('Vision', $event)">
              {{visionSource.opSelector}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>About SNOMED</mat-label>
          <mat-select>
            <mat-option value="Not applicable" (onSelectionChange)="change('About-SNOMED', $event)">
              Not applicable
            </mat-option>
            <mat-option *ngFor="let aboutSnomedSource of aboutSnomedSources" [value]="aboutSnomedSource.text" (onSelectionChange)="change('About-SNOMED', $event)">
              {{aboutSnomedSource.opSelector}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Current state</mat-label>
          <mat-select>
            <mat-option value="Not applicable" (onSelectionChange)="change('Current-state', $event)">
              Not applicable
            </mat-option>
            <mat-option *ngFor="let currentStateSource of currentStateSources" [value]="currentStateSource.text" (onSelectionChange)="change('Current-state', $event)">
              {{currentStateSource.opSelector}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Priorities</mat-label>
          <mat-select [formControl]="priorities" multiple>
            <mat-option *ngFor="let priority of prioritiesSources" [value]="priority" (onSelectionChange)="changePriorities('Priorities', $event)">
              {{priority.opSelector}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Future state</mat-label>
          <mat-select>
            <mat-option value="Not applicable" (onSelectionChange)="change('Future-state', $event)">
              Not applicable
            </mat-option>
            <mat-option *ngFor="let futureStateSource of futureStateSources" [value]="futureStateSource.text" (onSelectionChange)="change('Future-state', $event)">
              {{futureStateSource.opSelector}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile  colspan="3">
    <div class="text-inside-grid" [innerHTML]="roadmap"></div>
    <button class="roadmap-action" mat-flat-button color="primary" (click)="saveToWord()">Export to Word</button>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
