.example-spacer {
    flex: 1 1 auto;
  }

button {
    margin-left: 15px;
}

a {
    margin-left: 15px;
}

#title {
    margin-left: 15px;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

mat-grid-list {
    max-height: 90%;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
    top: 5px;
    margin-left: 15px;
    padding-right: 35px;
    max-height: 90%;
    overflow-y: scroll;
}

.stepsFormControl {
    width: 40%; 
    margin: 10px;
}

.selectorsControl {
    width: 80%;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}

.examplesMenu {
    width: 600px;
}

.rmsidenav {
    width: 40%; 
    min-width: 40%;
    margin-left: 15px;
}

.nav-content {
    height: 88vh;
    margin-right: 15px;
    margin-left: 15px;
}

h2 {
    margin-top: 30px;
}